body {
    font-family: '맑은 고딕';
    margin: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: #1e3a8a;
}

#search {

    width: 100%;

    max-width: 500px;

    padding: 10px;

    margin-bottom: 20px;

    border: 1px solid #ccc;

    border-radius: 8px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;

    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    max-width: 500px;

    border-radius: 8px;

    margin-top: 10px;
    margin-bottom: 10px;
}
